<!DOCTYPE html>
<html>
// V3
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
    <style>
        html {
            background: lightgrey; 
        }

        body{
            font-family: 'Roboto', sans-serif;
            color: #333; 
        }

        html, body, .viewport {
            width: 100%;
            height: 100%;
            margin: 0;
          }

        #app{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        #BrandLogo{ 
            height: 200px;
            width: 400px;
        }

        .content{
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            font-weight: lighter;
        }

        p {
            text-align: center;
        }

        .section {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            font-weight: lighter;
            background-color: lightgrey; 
        }

        .section h1,h2,h3,h4 {
            margin: 5px;
            text-align: center;
        }

        a{
            text-decoration: none;
        }

        .btn {
            text-transform: uppercase;
            position: relative;
            font-weight: bold;
            display: block;
            margin: 30px auto;
            padding: 0;

            overflow: hidden;

            border-width: 0;
            outline: none;
            border-radius: 2px;
            box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

            background-color: #e22866;
            color: #ecf0f1;

            transition: background-color .3s;

          }

          .btn:hover, .btn:focus {
            background-color: transparent;
            border: 2px #e22866 solid;
            cursor: pointer;
          }

          .btn > * {
            position: relative;
          }

          .btn span {
            display: block;
            padding: 12px 24px;
          }

          .btn:before {
            content: "";

            position: absolute;
            top: 50%;
            left: 50%;

            display: block;
            width: 0;
            padding-top: 0;

            border-radius: 100%;

            background-color: transparent;

            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }

          .btn:active:before {
            width: 120%;
            padding-top: 120%;

            transition: width .2s ease-out, padding-top .2s ease-out;
          }
    </style>
</head>
<body>
    <div id="app">
        <p>{{#if profile}}
    {{#each profile}}
    <li><b>{{@key}}</b>: {{this}}</li>
    {{/each}}
    <a class="" href="/logout">logout</a>
    {{else}}
    <a class="" href="/protected">Login</a>
    {{/if}}
</p>
        {{#if profile}}
        <script>
  console.log({{profile}}); 
</script>
        <div id="BrandLogo"></div> 
        <div class="content">

            <div class="section">
                <p>Welcome to the {{profile.current_sailing.ship}} {{profile.given_name}}.</p>
            </div>

            <div class="section">
                <h1>Your Cabin</h1>
                <p>You are staying in cabin {{profile.current_sailing.cabin}}</p>
            </div>

            {{#if profile.ageVerified}}
                <div class="section">
                    <h1>Gaming</h1>
                    <p>Thank you for verifying your age you can now access gaming services.</p>
                </div>
                {{#else}}
                <div class="section">
                    <h1>Age Verified Services</h1>
                    <p>Please see an on board staff member to verify your age to access these services.</p>
                </div>
                {{/else}}
            {{/if}}

            <div class="section">
                <h1>Peninsular</h1>
                <p>You current Peninsular tier is <b>{{profile.template.tier}}</b>. You have a <b>{{profile.spendDiscount}}</b> discount on your onboard spend.</p>
            </div>

          <div class="section">
  <h1>Profile Data (JSON)</h1> 
  <pre id="profile-json"></pre>
</div>

<script>
  const profile = {{{profile}}}; 
  const profileJson = JSON.stringify(profile, null, 2);
  document.getElementById('profile-json').textContent = profileJson;
</script>
            <div class="section">
                <a href="/logout"><button class="btn" type="button"><span>Logout</span></button></a>
            </div>
        {{else}}
        <div id="BrandLogo"></div>
        <div class="content">
            <div class="section">
                <p>Welcome!</p> 
            </div>

            <div class="section">
            <a href="/protected"><button class="btn" type="button"><span>Login</span></button></a>
            </div>
        </div>
        {{/if}}    
    </div>
</body>
</html>
